doctype html
html(lang="en")
	include ./head.jade
	link(href='/style/createOneDetails.css', rel='stylesheet')
	script(type="text/javascript").
		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_LA/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '1244021775614809',
				status : true,
				xfbml      : true,
				version    : 'v2.5'
			});
			FB.getLoginStatus(function(response) {
				if (response.status !== 'connected')
					window.location='/'
			})
		};
	body
		include ./logged-in-navigation.jade
		div(class='wrapper')
			table(class='details')
				tr
					th Name
					th GitHub ID
					th Total Repositories
				tr(style='text-align:center')
					td !{Object.keys(user)}
					td !{user[Object.keys(user)].id}
						a(href='https://github.com/'+user[Object.keys(user)].id,target='_blank',class='info')  &#x1f517
					td !{Object.keys(user[Object.keys(user)]).length-2}
			table(class='data')
				tr(style='background-color:#a7a8ad')
					th Project
					th Created At
					th Last Update
					th Language
					th Visualize
					- var i = 1;
					each key, index in user[Object.keys(user)]
						- i=i+1
						- var x= Object.keys(user[Object.keys(user)]).indexOf(index)
						- var length = Object.keys(user[Object.keys(user)]).length
						- var project = index
						if i%2==0
							- var cls='even'
						else
							- var cls='odd'

						tr(class=cls)
							if x<=length-3
								td !{project}
									a(href='https://github.com/'+user[Object.keys(user)].id+'/'+project,target='_blank',class='info') &#x1f517
								each value, index in key
									td=value
								td
									button
										a(href="http://ghv.artzub.com/#repo=" + project + "&climit=100&user=" + user[Object.keys(user)].id,target='_blank',class='info',title='Visualize commit wise')
											img(src="/images/visualize.png" height="12px")
									button
										a(href="http://veniversum.me/git-visualizer/?owner=" + user[Object.keys(user)].id + "&repo=" + project,target='_blank',class='info',title='Visualize file structure')
											img(src="/images/fileStructure.png" height="12px")
